matplotlib
#numpy
scipy
Cython
opencv-python
tensorflow
h5py
pydot
pydotplus
graphviz
seaborn
scikit-learn
tensorflow-model-optimization
#git+https://github.com/tensorflow/examples.git
pyyaml
pyarrow
kaleido
plotly
tqdm
gitpython
scikit-image
openpyxl